body {
    counter-reset: section;
}

.title {
    counter-increment: section;
}

.title h2::before {
    content: "Секція " counter(section) ":";
    font-weight: bold;
}

.list {
    counter-reset: item;
    list-style: none;
}
  
.list > li {
    counter-increment: item;
    position: relative;
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;

}

.list > li:before {
    content: counter(section) "." counter(item) ". ";
    font-weight: bold;
    position: absolute;
    left: -25px;
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 2px;
}

.list > li::after {
    content: ""; 
    display: inline-block; 
    width: 12px; 
    height: 12px; 
    background-color: orchid; 
    position: absolute;
    margin-left: 110px;
    

  
    
  }


/* Стилі для параметрів */
.num {
    list-style: none;
    padding-bottom: 15px;
  }

.num > li::before {
    content: "";
    display: inline-block; 
    width: 10px; 
    height: 10px; 
    background-color: rgb(21, 10, 164); 
    border-radius: 50%; 
    margin-right: 10px; 
}
 
